.app {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  /* padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; */
}

.mainContent {
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: space-between;
  height: 90vh;
}

.editorContainer {
  flex: 1;
}
