@import "tailwindcss";

@theme {
  --font-mono: "Fira code", "Fira Mono", monospace;

  --color-*: initial;

  /* light mode */
  --color-primary-light-bg: #fff;

  /* dark mode */
  --color-primary-bg: #18191a;
  --color-secondary-bg: #242526;
  --color-secondary-bg-offset: #303132;
  --color-primary-text: #e4e6eb;
  --color-secondary-text: #b0b3b8;
  --color-accent: #4338ca;
  --color-accent-offset: #362c9e;
  --color-error: #d64545;
  --color-anchor: #6a5acd;
  /* --color-badge-bg: #121314;
  --color-badge-hover: #4338ca; */
}

/* body {
  @apply bg-primary-light-bg dark:bg-primary-bg;
} */

body {
  @apply bg-primary-bg;
}
